@use 'mixins';
@use 'variables';
@use 'font';


@media (max-width: 768px) {
  

.section-landing-page{
    
    @include mixins.flex-center;
    
    .layout-profile-summary {
        width: 100%;
        height: 70vh;
        @include mixins.flex-center;

        .layout-profile-info{
            
            width: 70%;
            gap: 10px;
            @include mixins.flex-center;
            
            
            *{
                text-align: center;
                width: 100%;
                
            }
            .profile-img-rounded{
                border-radius: 100%;
                max-width: 200px;
                max-height: 200px;
            }
                .icons{
                        width: 100%;
                        
                        padding: 0;
                        @include mixins.flex-center;
                        *{
                            width: clamp(30px, 3vw, 80px);
                            padding: 1%;
                        }
                        
                }
        }
        
        
        
    }
    
    .layout-cv-summary{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 90%; 
        height: fit-content;
        overflow-x: hidden;
        gap: 40px;
        @include mixins.flex-center;

        .cv-summary-item {
            height: fit-content;
            text-align: left;
            @include mixins.flex-center;

            * {
            width: 100%;
            height: fit-content;
            padding: 1%;
            align-self: flex-start;
            
            }
            .icons-experience{
                width: 100%;
                @include mixins.flex-center;
                *{
                    
                    width: 13%;
                }

            }

        }
    }
}

//footer
.footer-section{
    height: fit-content;
    background-color: variables.$menu-primary-color;
    padding: 2%;
    
    gap: 15px;

    @include mixins.flex-center;

    *{
        height: fit-content;
    }

    >:nth-child(1){
        width: 100%;
        gap: 5px;
        @include mixins.flex-left-center;
        .icons{
            width: 100%;  
            gap: 10px;
            @include mixins.flex-left-center;
            *{
                width: clamp(20px, 3vw, 80px);
                padding: 0;
            }
                        
            }
    }
    >:nth-child(2){
        width: 100%;
        gap: 5px;
        @include mixins.flex-left-center;
       
    }
    >:nth-child(3){
        width: 100%;
        padding-top: 2%;
        
        text-align: center;
    }
}

.icon-img:hover{
    cursor: pointer;
}
















.layout-navbar{
    width: 100vw;
    height: 10vh;
    z-index: 1000;
    
    @include mixins.sticky;
    

    
    .layout-menu {
        
        width: 100%;
        height: 10vh;
        @include mixins.gradient(to bottom, variables.$menu-secondary-color,variables.$menu-primary-color);
        @include mixins.flex-right-center;

        ul{
            
            

            width: 60%;
            height: fit-content;
            list-style: none;
            // padding-top: 8vh;
            // padding-bottom: 80vh;
            @include mixins.flex-right-center;
            
            li{
                display: none;
                text-align: center;
               a{
                
                list-style: none;
                text-decoration: none;
                
                @include font.nav-text;
                
               }
               
            }

            .menu-toggler{
                width: 30%;
                display: none;
            }

        }

        .menu-container{
            position: fixed;
            height: fit-content;
            li{
                display: block;
                width: 100%;
                padding: 4%;
                text-align: right;
                background-color: #0e1024;
                border-radius: 1px;
                box-shadow: #4D1C86 0px 1px 0px 0px;
            }
        }



        
    }

    
    
}







}



