@use 'mixins';
@use 'variables';
@use 'font';


@media (max-width: 767px) {
  

.section-landing-page{
    width: 100%;
    @include mixins.flex-center-top;

    .layout-profile-summary {
        width: 100%;
        @include mixins.flex-center;

        .layout-profile-info{
            width: 70%;
            gap: 10px;
            @include mixins.flex-left-center;
            
            
            *{
                text-align: left;
                width: 100%;
                
            }
            .profile-img-rounded{
                border-radius: 100%;
                max-width: 200px;
                max-height: 200px;
            }
                .icons{
                        width: 100%;
                        
                        padding: 0;
                        @include mixins.flex-left-center;
                        *{
                            width: clamp(20px, 3vw, 80px);
                            padding: 1%;
                        }
                        
                }
        }
        
        
        
    }
    
    .layout-cv-summary{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 50%; 
        height: fit-content;
        overflow-x: hidden;
        gap: 40px;
        @include mixins.flex-center;

        .cv-summary-item {
            height: fit-content;
            @include mixins.flex-left-top;

            * {
            width: 100%;
            height: fit-content;
            padding: 1%;
            align-self: flex-start;
            
            }
            .icons-experience{
                width: 100%;
                @include mixins.flex-center;
                *{
                    
                    width: 13%;
                }

            }

        }
    }
}
}
