@use 'mixins';
@use 'variables';

.layout-navbar{
    width: 100vw;
    height: 10vh;
    
    @include mixins.flex-center;
    @include mixins.sticky;
    
    .layout-menu {
        
        width: 100%;
        height: 10vh;
        background-color: variables.$primary-color;
        
        
        @include mixins.flex-center;
        
    }
}