// Variables


// Colour Palette



// Degradado fondo principal:
// #0d0f24
// #2e1654
$background-primary-color: #0d0f24;
$background-secondary-color: #2e1654;





// Degradado barra de menu:
// #190F34
// #1B0B47

$menu-primary-color: #190F34;
$menu-secondary-color: #1B0B47;


// Menu Options:
// #0E1024
// #4D1C86
$menu-option-primary-color: #0E1024;
$menu-option-secondary-color: #4D1C86;




// Degradado Iconos:
// #781BE2
// #956FC0

$icon-primary-color: #781BE2;
$icon-secondary-color: #956FC0;




// <p> y textos clave
// #C1C1C1
// #FFFFFF

$text-primary-color: #C1C1C1;
$text-secondary-color: #FFFFFF;