.text-resalt {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-focus {
  background-color: #781BE2;
  background: linear-gradient(to right, #781BE2, #956FC0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-small {
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.text-normal {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.text-large {
  font-size: clamp(1.5rem, 6vw, 2rem);
}

.text-extra-large {
  font-size: clamp(2rem, 1vw, 2.5rem);
}

.spacing-3 {
  letter-spacing: 3px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

h2 {
  letter-spacing: 3px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: #C1C1C1;
  font-size: clamp(0.5rem, 2vw, 1rem);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: clamp(0.5rem, 2vw, 1rem);
}

nav {
  width: 100vw;
  height: 10vh;
}

.layout-navbar {
  width: 100vw;
  height: fit-content;
  z-index: 1000;
  position: sticky;
  top: 0;
}
.layout-navbar .layout-menu {
  width: 100%;
  height: 17vh;
  background-color: #1B0B47;
  background: linear-gradient(to bottom, #1B0B47, #190F34);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
}
.layout-navbar .layout-menu ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}
.layout-navbar .layout-menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 150%;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior-y: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

section {
  width: 100vw;
  height: fit-content;
}

a:hover {
  cursor: pointer;
}

.section-landing-page {
  width: 100vw;
  height: fit-content;
  background-color: #0d0f24;
  background: linear-gradient(to bottom, #0d0f24, #2e1654);
  display: flex;
  justify-content: center;
  align-items: top;
}
.section-landing-page .layout-profile-summary {
  width: 40%;
  height: 90vh;
  gap: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.section-landing-page .layout-profile-summary .layout-profile-info {
  width: 70%;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.section-landing-page .layout-profile-summary .layout-profile-info * {
  text-align: left;
  width: 100%;
}
.section-landing-page .layout-profile-summary .layout-profile-info .profile-img-rounded {
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
}
.section-landing-page .layout-profile-summary .layout-profile-info .icons {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.section-landing-page .layout-profile-summary .layout-profile-info .icons * {
  width: clamp(20px, 3vw, 80px);
  padding: 1%;
}
.section-landing-page .layout-cv-summary {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  height: fit-content;
  overflow-x: hidden;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.section-landing-page .layout-cv-summary .cv-summary-item {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}
.section-landing-page .layout-cv-summary .cv-summary-item * {
  width: 100%;
  height: fit-content;
  padding: 1%;
  align-self: flex-start;
}
.section-landing-page .layout-cv-summary .cv-summary-item .icons-experience {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.section-landing-page .layout-cv-summary .cv-summary-item .icons-experience * {
  width: 13%;
}

.footer-section {
  height: fit-content;
  background-color: #190F34;
  padding: 2%;
  gap: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.footer-section * {
  height: fit-content;
}
.footer-section > :nth-child(1) {
  width: 20%;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.footer-section > :nth-child(1) .icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.footer-section > :nth-child(1) .icons * {
  width: clamp(20px, 3vw, 80px);
  padding: 1%;
}
.footer-section > :nth-child(2) {
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: 40%;
}
.footer-section > :nth-child(3) {
  padding-top: 2%;
  width: 80%;
  text-align: center;
}

.icon-img:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .section-landing-page .layout-profile-summary {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .section-landing-page .layout-profile-summary .layout-profile-info {
    width: 70%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .section-landing-page .layout-profile-summary .layout-profile-info * {
    text-align: center;
    width: 100%;
  }
  .section-landing-page .layout-profile-summary .layout-profile-info .profile-img-rounded {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
  }
  .section-landing-page .layout-profile-summary .layout-profile-info .icons {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .section-landing-page .layout-profile-summary .layout-profile-info .icons * {
    width: clamp(30px, 3vw, 80px);
    padding: 1%;
  }
  .section-landing-page .layout-cv-summary {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    height: fit-content;
    overflow-x: hidden;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .section-landing-page .layout-cv-summary .cv-summary-item {
    height: fit-content;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .section-landing-page .layout-cv-summary .cv-summary-item * {
    width: 100%;
    height: fit-content;
    padding: 1%;
    align-self: flex-start;
  }
  .section-landing-page .layout-cv-summary .cv-summary-item .icons-experience {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .section-landing-page .layout-cv-summary .cv-summary-item .icons-experience * {
    width: 13%;
  }
  .footer-section {
    height: fit-content;
    background-color: #190F34;
    padding: 2%;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .footer-section * {
    height: fit-content;
  }
  .footer-section > :nth-child(1) {
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }
  .footer-section > :nth-child(1) .icons {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }
  .footer-section > :nth-child(1) .icons * {
    width: clamp(20px, 3vw, 80px);
    padding: 0;
  }
  .footer-section > :nth-child(2) {
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }
  .footer-section > :nth-child(3) {
    width: 100%;
    padding-top: 2%;
    text-align: center;
  }
  .icon-img:hover {
    cursor: pointer;
  }
  .layout-navbar {
    width: 100vw;
    height: 10vh;
    z-index: 1000;
    position: sticky;
    top: 0;
  }
  .layout-navbar .layout-menu {
    width: 100%;
    height: 10vh;
    background-color: #1B0B47;
    background: linear-gradient(to bottom, #1B0B47, #190F34);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
  }
  .layout-navbar .layout-menu ul {
    width: 40%;
    height: fit-content;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
  }
  .layout-navbar .layout-menu ul li {
    display: none;
    text-align: center;
  }
  .layout-navbar .layout-menu ul li a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 150%;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .layout-navbar .layout-menu ul .menu-toggler {
    width: 30%;
    display: none;
    justify-content: right;
    align-items: center;
    padding: 4%;
  }
  .layout-navbar .layout-menu ul .menu-toggler img {
    width: clamp(2rem, 1vw, 8rem);
    padding-right: 10px;
  }
  .layout-navbar .layout-menu ul .menu-toggler img:hover {
    cursor: pointer;
  }
  .layout-navbar .layout-menu .menu-container {
    position: fixed;
    height: fit-content;
    background-color: #0e1024;
  }
  .layout-navbar .layout-menu .menu-container li {
    display: block;
    width: 100%;
    padding: 4%;
    text-align: right;
    background-color: #0e1024;
    border-radius: 1px;
    box-shadow: #4D1C86 0px 1px 0px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
