// Utility Imports
@use 'mixins';
@use 'variables';
@use 'font';

// Layout Imports
@use 'navbar';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    @include mixins.flex-center;
}

// General Section Styles
section {
    width: 100vw;
    height: fit-content;
    
}


//---------------------------------------------------------------------------------------
.section-2{
    height: 50vh;
}





.section-landing-page{
    // @include mixins.flex-center;

    width: 100vw;
    height: fit-content;
    @include mixins.gradient(to bottom, variables.$background-primary-color, variables.$background-secondary-color);
    @include mixins.flex-left-top;

    .layout-profile-summary {
        width: 50%;
        height: 90vh;
        gap: 0%;
        
        @include mixins.flex-center;

        div {
            width: 100%;
            padding: 2%;
            @include mixins.flex-center;
            *{
                padding: auto;
            }
        }
        
        
        
    }
    
    .layout-cv-summary{
        width: 50%; 
        height: fit-content;
        overflow-x: hidden;
        @include mixins.flex-center;

        .cv-summary-item {
            width: 90%;
            height: fit-content;

            padding: 5%;
            @include mixins.flex-center;

            * {
            width: 100%;
            height: fit-content;
            padding: 2%;
            @include mixins.flex-center;
            
            }
        }
    }
}


